html {
    height:100%;
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;            /* arrange divs left to right */
    flex-wrap: nowrap;              /* don't wrap */
    justify-content: space-evenly; /* put it in the middle */
    align-items: stretch;           /* fill vertical space */
    box-sizing: border-box;
}
#banner {
    border-radius: 3px;
    width:100%;
    height:5%;
    background: darkred;
    color: white;
}
#navigation {
    height:100%;
    order: 1;
    flex-grow: 1;
    flex-shrink: 0;
    background: lightyellow;
}
#navigation li {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    margin: 0;
    background: darkred;
    list-style: none;
    text-decoration: none;
    color: white;
}
#navigation li:hover {
    background: white;
    color: darkred;
}
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#content {
    order: 2;
    flex-grow: 2;
    overflow-y: scroll;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1.2;
}
.rowspace, .columnspace {
    flex-grow: 1;
}
.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
a {
    display: block;
    padding:0.5em 0em;
    height: 100%;
    color: inherit;
    text-decoration: none; /* no underline */
    text-align: center;
}
p {
    margin: 0px;
    border: 0px;
    text-align: center;
}
h1, h2, h3 {
    margin: 0px;
    border: 0px;
    text-align: center;
}
#theme {
    order: 3;
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.3);
}
#map {
    width:100%;
    height:500px;
}
.biggap {
    flex-grow: 1.2;
}
.lilgap {
    flex-grow: 1;
}
textarea, input, select {
    width: 70%;
    box-sizing: border-box;
}
span {
    display: inline-flex;
    align-items: center;
}
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    #navigation, #content {
        flex-shrink: 1;
        overflow-x: hidden;
    }
    #navigation {
        overflow-y: hidden;
        height: 20%;
    }
    #content {
        overflow-y: auto;
        height: 80%;
    }
    #svg {
        display: none;
    }
    #map {
        height:300px;
    }
    body {
        overflow-x: hidden;
        flex-direction: column;
    }
    #navigation div {
        vertical-align:middle;
        margin:auto;
    }
    #navigation li {
        height: 50%;
        border: 0px;
        border-radius: 0px;
        display: flex;
        align-items: center;
    }
    ul {
        margin: 0px;
        padding: 0px;
        height: 100%;
        columns: 2;
        column-gap: 0px;
    }
    a {
        font-size: 24pt;
        height: 100%;
        width: 100%;
        margin: 0px;
        display: flex;
    }
    h1, h2 {
        font-size: 24pt;
    }
    h3, p, label, input, textarea, select, span {
        font-size: 20pt;
    }
}
@media screen and (max-width: 720px) and (max-height: 1080px) {
    a {
        font-size: 20pt;
    }
    h1, h2 {
        font-size: 20pt;
    }
    h3, p, label, input, textarea, select, span {
        font-size: 14pt;
    }
    textarea {
    /*    height: 400px; */
        width: 100%;
    }
    select, input {
        width: 100%;
        height: 40px;
    }
    #map {
        height:400px;
    }
}
@media screen and (max-width: 400px) and (max-height: 640px){
    a {
        font-size: 12pt;
    }
    h1, h2 {
        font-size: 12pt;
    }
    h3, p, label, input, textarea, select, span {
        font-size: 9pt;
    }
    textarea {
        height: 100px;
        width: 100%;
    }
    select, input {
        width: 100%;
        height: 14px;
    }
    #map {
        height:200px;
    }
}
